Sublime Text
guia git.docx
OPENCVTUTORIAL.txt
~$ia git.docx
Affine Transformation.docx
whiteWalker.jpg
imágenes
.vs/
 holaMundo.cpp
 Spatial Transformation.docx
 Piecewise Transformations.docx
Práctica 6 Histogram/03. Histogram and Histogram Equalisation.pdf